@font-face {
  font-family: "CeraPro";
  font-style: "";
  font-weight: "";
  src: url("../fonts/CeraPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "CeraPro";
  font-style: "";
  font-weight: "";
  src: url("../fonts/CeraPro-Regular.eot?") format("eot");
}

@font-face {
  font-family: "CeraPro";
  font-style: "";
  font-weight: "";
  src: url("../fonts/CeraPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Cera-light";
  font-style: "";
  font-weight: "";
  src: url("../fonts/CeraPro-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Cera-meduim";
  font-style: "";
  font-weight: "";
  src: url("../fonts/CeraPro-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Cera-meduim";
  font-style: "";
  font-weight: "";
  src: url("../fonts/CeraPro-Medium.eot?") format("eot");
}

@font-face {
  font-family: "Cera-bold";
  font-style: "";
  font-weight: "";
  src: url("../fonts/CeraPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Cera-bold";
  font-style: "";
  font-weight: "";
  src: url("../fonts/CeraPro-Bold.eot?") format("eot");
}

@font-face {
  font-family: "Cera-bold";
  font-style: "";
  font-weight: "";
  src: url("../fonts/CeraPro-Bold.woff") format("woff");
}

@font-face {
  font-family: "Avenir";
  font-style: "normal";
  font-weight: "600";
  src: url("../fonts/AvenirLTStd-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Avenir-Roman";
  font-style: "normal";
  font-weight: "600";
  src: url("../fonts/AvenirLTStd-Roman.otf") format("opentype");
}

@font-face {
  font-family: "helvetica-Roman";
  font-style: "";
  font-weight: "";
  src: url("../fonts/helveticaneuelt-arabic-55-roman.ttf") format("truetype");
}

@font-face {
  font-family: "helvetica";
  font-style: "";
  font-weight: "";
  src: url("../fonts/helvetica-neue-lt-arabic-75-bold.ttf") format("truetype");
}

body {
  font-family: "Avenir";
  color: #5e5e5e;
}

h1,
h2,
h3,
h4,
h5,
.title,
.subtitle {
  font-family: "CeraPro";
}

.container {
  width: 100%;
  padding: 0 40px;
  max-width: 1640px;
}

img {
  max-width: 100%;
}

.btn {
  border-radius: 10px;
}

.btn.btn-white {
  color: #5e5e5e;
  border: solid 1px #ffffff;
  background-color: #ffffff;
}

.btn.btn-primary {
  color: #fff;
  border: solid 1px #85cbcd;
  background-color: #85cbcd;
}

.btn.btn-outline-primary {
  color: #85cbcd;
  border: solid 2px #85cbcd;
  background-color: transparent;
}

.btn.btn-success {
  color: #fff;
  border: solid 1px #a7d676;
  background-color: #a7d676;
}

.btn.btn-outline-success {
  color: #a7d676;
  border: solid 2px #a7d676;
  background-color: transparent;
}

.btn.btn-warning {
  color: #fff;
  border: solid 1px #e1833b;
  background-color: #e1833b;
}

.title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.44;
  color: #000000;
  text-align: center;
}

.subtitle {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.38;
  text-align: center;
}

.box-shadow {
  border-radius: 20px;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
}

.green-bg {
  background-color: rgba(170, 255, 82, 0.23);
}

.blue-bg {
  background-color: #F5FCFC;
}

.px-0 {
  padding-right: 0;
  padding-left: 0;
}

/**** start header style ****/
.bg-light {
  background-color: #fff !important;
  padding: 26px 0;
}

.bg-light .navbar-brand {
  padding: 0;
  margin: 0;
}

.bg-light .navbar-collapse {
  align-self: flex-end;
}

.bg-light .navbar-nav .nav-item .nav-link {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.83;
  color: #4d4d4d;
  font-family: "Avenir";
  padding: 9px 20px;
}

.bg-light .navbar-nav .nav-item .nav-link.btn-outline-black {
  min-width: 140px;
  border-radius: 10px;
  text-align: center;
  border: solid 1px #4d4d4d;
  margin-right: 40px;
  transition: all 0.3s ease;
}

.bg-light .navbar-nav .nav-item .nav-link.btn-outline-black::after {
  display: none;
}

.bg-light .navbar-nav .nav-item .nav-link.btn-outline-black:hover {
  background-color: #e1833b;
  border-color: #e1833b;
  color: #Fff;
}

.bg-light .navbar-nav .nav-item .nav-link::after {
  transition: all 0.3s ease;
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #e1833b;
  opacity: 0;
  visibility: hidden;
}

.bg-light .navbar-nav .nav-item .nav-link:hover {
  color: #e1833b;
}

.bg-light .navbar-nav .nav-item .nav-link:hover::after {
  opacity: 1;
  visibility: visible;
}

.bg-light .navbar-nav .nav-item.active .nav-link {
  color: #e1833b;
}

.bg-light .navbar-nav .nav-item.active .nav-link::after {
  opacity: 1;
  visibility: visible;
}

/**** start hero style *******/
.hero .inner-block {
  height: 808px;
  background: url("../images/hero.png") no-repeat right;
  border-radius: 20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #a7d676;
  color: #fff;
  padding: 30px;
}

@media (min-width: 992px) {
  .hero .inner-block {
    padding-left: 140px;
  }
}

.hero .inner-block .text-box {
  max-width: 708px;
}

.hero .inner-block .text-box h1 {
  font-size: 66px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  margin-bottom: 40px;
}

.hero .inner-block .text-box h1 small {
  font-size: 36px;
  display: block;
}

.hero .inner-block .text-box .btn {
  max-width: 412px;
  width: 100%;
  line-height: 45px;
}

.hero .inner-block .text-box .btn:hover {
  background-color: #a7d676;
  border-color: #a7d676;
  color: #Fff;
}

/*** start vol-types style ****/
.vol-types {
  padding: 40px 0;
}

.vol-types .box-shadow {
  padding: 50px 30px;
}

.vol-types .type {
  border-radius: 10px;
  padding: 15px;
  height: 100%;
}

.vol-types .type .row {
  margin: 0;
  padding: 0 15px;
}

@media (min-width: 992px) {
  .vol-types .col-md-5 {
    padding: 0 30px;
  }
  .vol-types img {
    height: 225.8px;
    object-fit: contain;
  }
}

.vol-types h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.46;
  color: #5e5e5e;
  margin-top: 15px;
}

.vol-types p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.43;
  color: #4d4d4d;
  margin-bottom: 4rem;
}

.vol-types .btn {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  line-height: 37px;
  margin-bottom: 20px;
}

.vol-types .btn:hover {
  background-color: #e1833b;
  border-color: #e1833b;
  color: #Fff;
}

/**** initiative-list style *****/
.initiative-list {
  padding: 60px 0 120px 0;
  background: rgba(240, 254, 255, 0.19);
}

.initiative-list .col-6 {
  padding: 0;
}

.initiative-list .item .col-6:first-child {
  padding-top: 25px;
  padding-bottom: 25px;
}

.initiative-list .item .item-img {
  height: 100%;
  width: 100%;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.initiative-list .item .details {
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  padding: 30px 20px;
}

.initiative-list .item .details h3 {
  font-size: 24px;
  line-height: 1.38;
  color: #000000;
  border-bottom: 1px solid;
  padding-bottom: 20px;
  margin-bottom: 15px;
}

.initiative-list .item .details ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
}

.initiative-list .item .details ul li {
  font-size: 16px;
  line-height: 1.83;
  color: #000000;
  margin-bottom: 10px;
}

.initiative-list .item .details ul li span {
  width: 25px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: bottom;
}

.initiative-list .item .details .btn {
  font-size: 22px;
  width: 100%;
  font-family: "cerapro";
  line-height: 45px;
}

.initiative-list .item .details .btn:hover:hover {
  background-color: #e1833b;
  border-color: #e1833b;
  color: #Fff;
}

@media (min-width: 992px) {
  .initiative-list .container-fluid {
    padding: 0;
  }
  .initiative-list .slick-slide:not(.slick-current) .row {
    justify-content: flex-end;
    position: relative;
  }
  .initiative-list .slick-slide:not(.slick-current) .row .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .initiative-list .slick-slide:not(.slick-current) .left-side {
    transform: rotate(-90deg);
    display: inline-block;
    position: absolute;
    height: 30px;
    width: 355px;
    right: -164px;
    top: 188px;
  }
  .initiative-list .slick-slide:not(.slick-current) .left-side .details {
    background: #a7d676;
    padding: 30px 0;
  }
  .initiative-list .slick-slide:not(.slick-current) .left-side .details h3 {
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 18px;
    border: 0;
    text-align: center;
    margin-top: -10px;
  }
  .initiative-list .slick-slide:not(.slick-current) .left-side .details ul,
  .initiative-list .slick-slide:not(.slick-current) .left-side .details .btn {
    display: none;
  }
  .initiative-list .slick-slide:not(.slick-current) .item .item-img {
    box-shadow: none;
    max-height: 355px;
    border-radius: 10px;
  }
  .initiative-list .slick-current .item {
    max-width: 875px;
    margin: 0 auto;
    padding: 0 30px;
  }
}

.initiative-list .slick-prev:before,
.initiative-list .slick-next:before {
  display: none;
}

.initiative-list .slick-arrow {
  bottom: -102px;
  top: auto;
  opacity: 1;
  left: auto;
}

.initiative-list .slick-arrow.slick-prev {
  left: auto;
  right: 53%;
}

.initiative-list .slick-arrow.slick-next {
  right: 46%;
}

.initiative-list .pagingInfo {
  display: block;
  text-align: center;
  margin-top: 65px;
  font-size: 24px;
  color: #4d4d4d;
  font-weight: 600;
  margin-bottom: 60px;
}

/**** start features style *****/
.features {
  background: rgba(201, 237, 239, 0.36) url("../images/bg1.svg") no-repeat;
  padding-top: 183px;
  padding-bottom: 100px;
  position: relative;
  background-position: top 20px center;
}

.features .abs-img {
  position: absolute;
  left: 0;
  top: -100px;
}

.features .feature {
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  padding: 26px 40px;
  height: calc(100% - 25px);
  margin-bottom: 25px;
  transition: all 0.3s ease;
  cursor: pointer;
  background: #fff url("../images/f6.svg") no-repeat center;
  background-size: 100% 100%;
}

.features .feature:hover {
  box-shadow: 1px 15px 19px 0 rgba(0, 0, 0, 0.16);
}

.features .feature img {
  max-height: 70px;
  margin-bottom: 15px;
}

.features .feature h4 {
  font-family: "Avenir";
  font-size: 18px;
  font-weight: 600;
  line-height: 1.38;
  color: #4d4d4d;
}

.features .feature p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.44;
  color: #5e5e5e;
}

/**** steps style ****/
.steps {
  padding-top: 140px;
  padding-bottom: 85px;
}

.steps .nav-tabs {
  border-radius: 36px;
  background-color: #eefbfc;
  border: 0;
  display: inline-flex;
  padding: 0;
  list-style-type: none;
  list-style: none;
  padding: 6px 8px 5px 8px;
}

.steps .nav-tabs .nav-link {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.39;
  color: #5e5e5e;
  border-radius: 36px;
}

@media (min-width: 768px) {
  .steps .nav-tabs .nav-link {
    min-width: 300px;
    padding: 15px 20px;
  }
}

.steps .nav-tabs .nav-link.active {
  border: 0;
  border-radius: 36px;
  background-color: #ffffff;
  color: #85cbcd;
}

.steps .tab-content {
  padding-top: 70px;
}

.steps .step-info {
  text-align: center;
  background: url("../images/step.svg");
  background-size: 100% 100% !important;
  background-position: bottom 0 center !important;
  padding-bottom: 45px;
  background-repeat: no-repeat !important;
  transition: all 0.3s ease;
}

.steps .step-info.s1 {
  background: url("../images/s1.svg");
}

.steps .step-info.s2 {
  background: url("../images/s2.svg");
}

.steps .step-info.s3 {
  background: url("../images/s3.svg");
}

.steps .step-info.s4 {
  background: url("../images/s4.svg");
}

.steps .step-info .num {
  width: 97px;
  height: 97px;
  border: solid 3px #a7d676;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 50px;
  color: #a7d676;
  margin-bottom: 35px;
  transition: all 0.3s ease;
}

.steps .step-info h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.45;
  color: #5e5e5e;
  transition: all 0.3s ease;
}

.steps .step-info p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.38;
  color: #5e5e5e;
}

.steps .step-info:hover .num {
  background-color: #a7d676;
  color: #fff;
}

.steps .step-info:hover h3 {
  color: #a7d676;
}

/*** start map style *****/
.map .inner-block {
  background: url("../images/map.png") no-repeat;
  border-radius: 35px;
  margin-bottom: -135px;
  position: relative;
}

.map .inner-block .bg {
  background-image: linear-gradient(51deg, #9ad4d8 28%, rgba(154, 212, 216, 0) 86%);
  color: #fff;
  padding: 85px 50px;
  border-radius: 35px;
}

.map .inner-block .bg h2 {
  max-width: 606px;
  font-size: 41px;
  font-weight: bold;
  line-height: 1.46;
}

.map .inner-block .bg p {
  max-width: 734px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.38;
  margin-top: 20px;
  margin-bottom: 30px;
}

.map .inner-block .bg .btn {
  max-width: 282px;
  line-height: 44px;
  width: 100%;
}

/**** modal style *****/
.modal .modal-content {
  border-radius: 15px;
}

.modal .modal-content .modal-header {
  padding: 0;
  border: 0;
}

.modal .modal-content .modal-header .close {
  opacity: 1;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 9;
}

.modal .modal-content .modal-header .close img {
  width: 30px;
}

.modal .modal-content .modal-body .feature {
  padding-top: 50px;
  box-shadow: none !important;
  border-radius: 0;
  background-size: 300px auto !important;
  background-position: top;
}

.modal .modal-content .modal-body .feature img {
  max-height: initial;
}

.modal .modal-content .modal-body .feature h4 {
  font-size: 36px;
  margin-top: 35px;
}

.modal .modal-content .modal-body .feature p {
  font-size: 20px;
  line-height: 1.35;
  color: #707070;
}

.modal .modal-content .modal-body .feature .btn-default {
  width: 100%;
  max-width: 232px;
  line-height: 35px;
  border-radius: 10px;
  background-color: rgba(167, 214, 118, 0.17);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #a7d676;
}

.modal .modal-content .modal-body .feature .btn-default:hover {
  background-color: #a7d676;
  color: #fff;
}

/**** footer style *****/
footer {
  background-color: #f9f9f9;
  padding-top: 200px;
  color: #5e5e5e;
  font-size: 16px;
  font-weight: 600;
}

footer a {
  color: #5e5e5e;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.39;
  color: #5e5e5e;
}

footer a:hover {
  color: #e1833b;
}

footer .footer-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.46;
  margin-bottom: 30px;
}

footer ul {
  list-style-type: none;
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 15px;
}

footer ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  vertical-align: middle;
}

footer ul li .map-link {
  max-width: 231px;
  height: 35px;
  object-fit: contain;
  border-radius: 11px;
  background-color: rgba(170, 255, 82, 0.23);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

footer ul li:hover {
  color: #e1833b;
}

footer .col-6 img {
  border-radius: 10px;
}

footer .bottom-footer {
  border-top: 1px solid #D5E9C0;
  padding-top: 20px;
  padding-bottom: 15px;
}

footer .bottom-footer .social a {
  display: inline-block;
  margin-right: 15px;
  font-size: 25px;
}

footer .bottom-footer .links a {
  font-size: 20px;
  margin-right: 30px;
}

@media (max-width: 1300px) {
  .vol-types .col-md-5 {
    padding: 0 15px;
  }
  .hero .inner-block {
    height: 650px;
  }
  .features .feature {
    padding-left: 20px;
    padding-right: 20px;
  }
  .bg-light .navbar-nav .nav-item .nav-link {
    padding: 10px;
  }
}

@media (max-width: 1200px) {
  .vol-types .col-md-5 {
    max-width: 50%;
    flex: 0 0 50%;
  }
  .initiative-list .slick-current .item {
    padding: 0 90px;
    width: 100%;
  }
}

@media (max-width: 1130px) {
  .vol-types .type {
    zoom: 0.8;
  }
}

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    padding: 0 40px;
  }
  .bg-light .navbar-collapse {
    position: absolute;
    top: 116px;
    left: 0;
    background: #fff;
    width: 100%;
    z-index: 99;
    border-top: 3px solid #e1833b;
    padding: 15px;
    -webkit-box-shadow: 0px 4px 16px -6px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 4px 16px -6px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 4px 16px -6px rgba(0, 0, 0, 0.48);
  }
  .bg-light .navbar-nav .nav-item .nav-link {
    padding: 15px 10px 13px 10px;
    border-bottom: 1px solid rgba(158, 158, 158, 0.149);
  }
  .bg-light .navbar-nav .nav-item .nav-link::after {
    display: none !important;
  }
  .features .abs-img {
    position: absolute;
    left: 0;
    top: -40px;
    max-width: 200px;
  }
  .features .row {
    justify-content: center;
  }
  .features .row .col {
    max-width: 50%;
    flex: 0 0 50%;
  }
  .features .row .col .feature {
    background: #fff;
  }
  .map .inner-block .bg {
    background-image: linear-gradient(51deg, #9ad4d8 28%, rgba(154, 212, 216, 0.53) 86%);
  }
}

@media (max-width: 767.98px) {
  .vol-types .col-md-5 {
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .vol-types .box-shadow {
    padding: 15px 30px;
  }
  .initiative-list .col-6 {
    padding: 0 15px;
    max-width: 100%;
    flex: 0 0 100%;
  }
  .initiative-list .item .col-6:first-child {
    padding-top: 0;
    padding-bottom: 0;
  }
  .initiative-list .item .details ul {
    columns: 2;
  }
  .initiative-list .item .details ul li {
    margin-bottom: 20px;
  }
  .initiative-list .item .details {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .initiative-list .slick-arrow.slick-next {
    right: 42%;
  }
  .initiative-list .slick-arrow.slick-prev {
    right: 55%;
  }
  .features .abs-img {
    max-width: 150px;
  }
  .title {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .subtitle {
    font-size: 18px;
  }
  .steps .row {
    justify-content: center;
  }
  .steps .row .col-sm-4 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .map .inner-block .bg h2 {
    font-size: 30px;
  }
  footer .col-4 {
    order: 2;
  }
  footer .part {
    order: 1;
    margin-bottom: 25px;
  }
}

@media (max-width: 575.5px) {
  .container {
    padding: 0 15px;
  }
  .vol-types .box-shadow {
    padding: 15px;
  }
  .hero .inner-block {
    height: auto;
    padding: 65px 15px;
  }
  .initiative-list .item .details ul {
    columns: 1;
  }
  .list-slider .row {
    margin: 0;
  }
  .initiative-list .slick-current .item {
    padding: 0 20px;
    width: 100%;
  }
  .steps .row .col-sm-4,
  .features .row .col,
  footer .col-4,
  footer .bottom-footer .col-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  footer .footer-title {
    color: #e1833b;
  }
  footer .bottom-footer {
    text-align: center;
  }
  .hero .inner-block {
    background-position: right;
    background-size: cover;
  }
  .hero .inner-block .text-box h1 {
    font-size: 35px;
  }
  .hero .inner-block .text-box h1 small {
    font-size: 18px;
    margin-top: 10px;
  }
  .vol-types .col-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .hero .inner-block {
    position: relative;
    margin: 0;
  }
  .hero .inner-block::after {
    content: "";
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 20px;
    left: 0;
  }
  .hero .inner-block .col-12 {
    z-index: 9;
  }
  .initiative-list .slick-arrow.slick-next {
    right: 37%;
  }
  .initiative-list .slick-arrow.slick-prev {
    right: 58%;
  }
}

@media (max-width: 450px) {
  .initiative-list .item .details h3 {
    font-size: 18px;
  }
  .initiative-list .item .details ul li {
    margin-bottom: 15px;
    font-size: 14px;
  }
  .initiative-list .item .details ul li span {
    width: 15px;
    vertical-align: middle;
  }
  .features {
    padding-top: 75px;
  }
  .features .container {
    position: relative;
  }
}
